<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>삼포해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
	
	<!--css-->
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/tourist/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap container">
				<h1 class="logo"><a href=""><img src="../http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장 로고"> <span class="skip">삼포해수욕장 삼포비치</span></a></h1>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<!-- 180802 관광지리스트 전개 순서 변경 -->
		<div class="contents">
		
			<section class="wrap subVisual">
				<div class="mainTxt container">
					<p class="p-1">닿는 발길마다 매력 넘치는 곳</p>
					<h2><span class="f-bd">삼포해변</span> 주변관광지</h2>
					<p class="p-2"><span class="f-bdr">SAMPO</span> BEACH</p>
				</div>
			</section>
			
			<!-- 180802 주변맛집 관광지 추가 -->
			<section class="wrap cmStyle tourist tour-2">
				<div class="container">
					<div class="area cf">
						<h3 class="h3-tit"><span class="f-bd">주변맛집</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=4';" title="페이지 이동">
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_01.jpg" alt="주변맛집 관광지"></figure>
								<dl>
									<dt>
										<h4>속초 횟집 모둠회 / 물회</h4>
										강원도 고성군 죽왕면 삼포해변길 9
									</dt>
									<dd>
										회는 여기가 짱이에요 !<span class="t-space"></span>청정 동해안에서 직접 잡아 현장에서 즉석으로 신선하고 싱싱한 활어를 공수하여 제공하는 맛집입니다. 추천 !
									</dd>
								</dl>
							</li>
							<li class="link-tour" onclick="window.open('about:blank').location.href='http://www.banderabbq.co.kr';" title="페이지 이동">
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_02.jpg" alt="주변맛집 관광지"></figure>
								<dl>
									<dt>
										<h4>반데라바베큐플레이츠</h4>
										강원도 고성군 죽왕면 삼포해변길 9
									</dt>
									<dd>
										미국 남부식 바베큐 조리법 그대로! 훈연의 향이 가득한 리얼바베큐 플레이츠를 맛보세요.<br>
                                        쉽게 맛볼수 없는 최고의 감동을 드립니다.
									</dd>
								</dl>
							</li>
							<li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=2';" title="페이지 이동">
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_03.jpg" alt="주변맛집 관광지"></figure>
								<dl>
									<dt>
										<h4>오션숯불갈비 &#38; 바베큐</h4>
										강원도 고성군 죽왕면 삼포해변길 9
									</dt>
									<dd>
										바다를 보면서 즐길 수 있는 지글지글 담백하고 맛있게 숯불향을 입힌 숯불갈비와 바베큐가 최고의 입맛을 찾아드립니다.
									</dd>
								</dl>
							</li>
							<li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=1';" title="페이지 이동">
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_04.jpg" alt="주변맛집 관광지"></figure>
								<dl>
									<dt>
										<h4>오션투유 조식뷔페</h4>
										강원도 고성군 죽왕면 삼포해변길 9
									</dt>
									<dd>
										오션투유리조트에서 준비한 다채로운 요리부터 달콤한 디저트까지 한자리에서 만끽할 수 있는 조식 뷔페를 즐겨보세요.
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
			<!-- 액티비티 관광지 -->
		    <!-- 180802 클래스 수정 -->
			<section class="wrap cmStyle tourist tour-2">
				<div class="container">
					<div class="area cf">
		                <!-- 180802 타이틀 변경 -->
						<h3 class="h3-tit"><span class="f-bd">놀거리</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_01.jpg" alt="액티비티 관광지"></figure>
								<dl>
									<dt>
										<h4>배낚시</h4>
										강원도 고성군 바다
									</dt>
									<dd>
										고성 바다낚시는 즉석에서 회를 떠 먹을 수 <br>
										있어 신선함을 맛 볼 수 있습니다. 시원한 <br>
										바닷 바람과 눈 부신 바닷 빛을 느끼세요.
									</dd>
								</dl>
							</li>
							<!-- 180802 클래스, 타이틀 추가 -->
							<li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you-bike.co.kr/'" title="페이지 이동">
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_02.jpg" alt="액티비티 관광지"></figure>
								<dl>
									<dt>
										<h4>전동바이크</h4>
										강원 고성군 죽왕면 삼포해변길 9
									</dt>
									<dd>
										탁 트인 해안가를 따라 가슴까지 시원하게 <br>
										즐길 수 있는 전동 바이크를 권합니다. 다양한 <br>
										해안 코스와 풍경을 눈과 마음에 담으세요.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_03.jpg" alt="액티비티 관광지"></figure>
								<dl>
									<dt>
										<h4>모터보트</h4>
										강원도 고성군 바다
									</dt>
									<dd>
										시원한 바닷바람을 만나보자 ! 아름다운 <br>
										천혜의 자연과 함께 물살을 가르며 달리는 <br>
										짜릿하고 스릴있는 레포츠를 즐겨보세요
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_04.jpg" alt="액티비티 관광지"></figure>
								<dl>
									<dt>
										<h4>진부령유원지</h4>
										강원도 고성군 간성읍 진부리
									</dt>
									<dd>
										산속에서 내려오는 오염되지 않은 맑은 물이 <br>
										관광객을 사로잡고 있으며 주위에 산간, <br>
										계곡, 하천이 있는 자연 발생적 유원지입니다.
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
			<!-- 사찰/유적 관광지 -->
		    <!-- 180802 클래스 수정 -->
			<section class="wrap cmStyle tourist tour-3">
				<div class="container">
					<div class="area cf">
						<h3 class="h3-tit"><span class="f-bd">사찰/유적</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_01.jpg" alt="사찰유적관광지"></figure>
								<dl>
									<dt>
										<h4>건봉사</h4>
										강원도 고성군 거진읍 건봉사로 723
									</dt>
									<dd>
										설악산 신흥사, 백담사 등 9개 말사를<br>
										거느렸던 전국 4대 사찰 중 한 곳으로 신라<br> 
										법흥왕(서기520년)때 지어진 오랜 사찰이다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_02.jpg" alt="사찰유적관광지"></figure>
								<dl>
									<dt>
										<h4>천학정</h4>
										강원도 고성군 토성면 천학정길 10
									</dt>
									<dd>
										토성면과 죽왕면을 경계로 흐르는 문암천을 <br>
										지나 1Km를 가면 교암리 마을 앞에 소나무가 <br>
										우거진 조그만 산에 천학정이 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_03.jpg" alt="사찰유적관광지"></figure>
								<dl>
									<dt>
										<h4>화진포</h4>
										강원도 고성군 거진읍 화진포길 280
									</dt>
									<dd>
										화진포는 호숫가에 해당화가 만발해 붙여진 <br>
										이름으로 둘레 16km의 동해안 최대의 <br>
										자연호수이다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_04.jpg" alt="사찰유적관광지"></figure>
								<dl>
									<dt>
										<h4>청간정</h4>
										강원도 고성군 토성면 동해대로 5110
									</dt>
									<dd>
										설악산 골짜기에서 흘러내리는 청간천과 <br>
										만경창파가 넘실거리는 기암절벽위에 <br>
										아담하게 세워져 있다
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
			<!-- 항구/항만 관광지 -->
		    <!-- 180802 클래스 수정 -->
			<section class="wrap cmStyle tourist tour-4">
				<div class="container">
					<div class="area cf">
						<h3 class="h3-tit"><span class="f-bd">항구/항만</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_01.jpg" alt="항구항만관광지"></figure>
								<dl>
									<dt>
										<h4>가진항</h4>
										강원도 고성군 죽왕면 가진리
									</dt>
									<dd>
										잔잔함과 조용함 때론 거침이 함께 살아있는 <br>
										동해안 항포구 중에서도 아름다운 가진항은 <br>
										어촌계의 비교적 큰 규모의 항입니다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_02.jpg" alt="항구항만관광지"></figure>
								<dl>
									<dt>
										<h4>대진항</h4>
										강원도 고성군 현내면
									</dt>
									<dd>
										동해안 최북단 면소재지이며, 동쪽은 동해, <br>
										서쪽은 마달리, 북쪽은 마차진리, 남쪽에는 <br>
										초도리, 철통리와 경계를 이루고 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_03.jpg" alt="항구항만관광지"></figure>
								<dl>
									<dt>
										<h4>거진항</h4>
										강원도 고성군 거진읍 거진리
									</dt>
									<dd>
										큰나루 즉 거진이라 불리는 항구이다.<br>
										거진항의 발전은 명태가 유도했다고들 말한다.<br>
										이 지방엔 명태주산지로 별미음식이 다양하다. 
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_04.jpg" alt="항구항만관광지"></figure>
								<dl>
									<dt>
										<h4>아야진항</h4>
										강원도 고성군 토성면 아야진리
									</dt>
									<dd>
										특이하게 두곳으로 나뉘어져 있고 항구주변 <br>
										바닷가에 낚시하기에도 좋은 곳입니다. <br>
										미항으로 관광객이 자주 찾고 있습니다.
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
			<!-- 자연 관광지 -->
		    <!-- 180802 클래스 수정 -->
			<section class="wrap cmStyle tourist tour-5">
				<div class="container">
					<div class="area cf">
						<h3 class="h3-tit"><span class="f-bd">자연</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_01.jpg" alt="자연관광지"></figure>
								<dl>
									<dt>
										<h4>통일전망대</h4>
										강원도 고성군 현내면 통일전망대로 457
									</dt>
									<dd>
										고성 통일전망대는 동해안 최북단 강원도<br>
										고성군 현내면 명호리의 해발 70미터 고지위에<br>
										위치하고 있습니다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_02.jpg" alt="자연관광지"></figure>
								<dl>
									<dt>
										<h4>설악산 울산바위</h4>
										강원도 고성군 토성면 원암리
									</dt>
									<dd>
										설악산 끝자락의 속초와 고성의 경계지역에<br>
										위치한 울산바위는 수많은 전설과 함께 고성<br>
										지역에서 바라본 그 경관 최고입니다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_03.jpg" alt="자연관광지"></figure>
								<dl>
									<dt>
										<h4>송지호 관망타워</h4>
										강원도 고성군 죽왕면 동해대로 6021
									</dt>
									<dd>
										4층 규모의 독특한 관망타워 형태로 철새들의<br>
										군무가 한눈에 내려다보여 어린이들의<br>
										자연생태학습관으로 큰 인기를 얻고 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_04.jpg" alt="자연관광지"></figure>
								<dl>
									<dt>
										<h4>화진포 해양박물관</h4>
										강원도 고성군 현내면 화진포길 412
									</dt>
									<dd>
										세계적으로 희귀한 각종 조개, 갑각, 산호,<br>
										화석류, 박제 등 1,500여종 40,000여 점을 <br>
										전시한 패류관 어류관으로 구성되어 있습니다. 
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
			<!-- 박물관/기념관 관광지 -->
		    <!-- 180802 클래스 수정 -->
			<section class="wrap cmStyle tourist tour-6">
				<div class="container">
					<div class="area cf">
						<h3 class="h3-tit"><span class="f-bd">박물관/기념관</span> 관광지 <span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span></h3>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_01.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>화진포 생태박물관</h4>
										강원 고성군 거진읍 화진포길 278 
									</dt>
									<dd>
										수십 수백 종의 박제와 골격, 화석류와 영상, <br>
										실물모형등을 통해 화진포호의 생성과정, 동식<br>
										물 생태계 등을 관람할 수 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_02.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>이승만대통령 화진포기념관</h4>
										강원도 고성군 현내면 이승만별장길 33
									</dt>
									<dd>
										친필휘호, 의복과 소품, 관련도서 등이 현대적<br>
										으로 전시되어 있으며, 침실과, 집무실, 평소에<br>
										끼던 안경과 여권등 유품이 진열되어 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_03.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>화진포의 성(김일성별장)</h4>
										강원도 고성군 거진읍 화포길 280
									</dt>
									<dd>
										외국인 선교사 셔우드 홀이 예배당으로 사용했<br>
										던 건물로, 화진포의 성에서 마주보이는 금구도<br>
										라고 불리는 바위섬의 절경을 볼 수 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_04.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>이기붕별장</h4>
										강원도 고성군 거진읍 화진포길 280
									</dt>
									<dd>
										1920년대에 외국인 선교사들에 의해 건축되어<br>
										현재까지 보존된 건물로서 이기붕의 처 박마리<br>
										아가 개인별장으로 사용하였던 곳이다. 
									</dd>
								</dl>
							</li>
						</ol>
						<ol class="list cf">
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_05.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>DMZ 박물관</h4>
										강원도 고성군 현내면 통일전망대로 369
									</dt>
									<dd>
										1950년 한국전쟁 전후 모습과, 휴전선이 갖는<br>
										역사적인 의미, 60여년 간 사람의 손길이 닿지<br>
										않아 보존되어있는 생태환경을 보여준다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_06.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>진부령 미술관</h4>
										강원도 고성군 간성읍 진부령로 663
									</dt>
									<dd>
										민족의 강인한 정신을 담은 국민작가로 평가<br>
										받고 있는 이중섭의 전시실이 운영되고 있어<br>
										좋은 교육의 장이다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_07.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>6.25 전쟁체험전시관</h4>
										고성군 현내면 통일전망대로 453
									</dt>
									<dd>
										전사자 유해발굴실, 6.25전쟁 자료실, 유엔<br>
										참전 국실, 등 6.25전쟁의 참상을 생생하게<br>
										느껴볼 수 있다.
									</dd>
								</dl>
							</li>
							<li>
								<figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_08.jpg" alt="박물관기념관관광지"></figure>
								<dl>
									<dt>
										<h4>금강산 자연사박물관</h4>
										강원도 고성군 현내면 동해대로 7961
									</dt>
									<dd>
										고생대 화석, 중생대 화석,신생대 화석 뿐만<br>
										아니라 200여점의 세계희곤충, 등 우주와 지구<br>
										를 형상화한 국내 초유의 박물관이다.  
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
		</div>
		
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="../http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장로고"></figure>
				<address>
					본 사이트는 삼포해변을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
					오시는 길 : 강원도 고성군 죽왕면 삼포해변길 (죽왕면) / 삼포리 1-1번지 삼포해변<br>
					<small>copyright @ sampobeach.co.kr All right reserved</small>
				</address>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</footer>
		
	</div>	
		
</body>
</html>