<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>속초해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="../../static/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<!--css-->
<!--
	<link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/common.css">
	<link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/view/init.css">
-->
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/view/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!--	<script src="http://static.sokchobeach.co.kr/js/view/init.js"></script>-->
	<script src="../../static/js/view/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap">
				<div class="area container">
					<h1 class="logo"><a href="../index.html"><img src="../../img/common/logo_2.png" alt="속초해수욕장 로고"> <span class="skip">속초해수욕장 속초비치</span></a></h1>
					<nav class="gnb">
						<ul class="menu cf">
							<li class="item-1"><a href="../about/">속초해변 소개</a></li>
							<li class="item-2"><a href="../tourist/">관광정보</a></li>
							<li class="item-3"><a href="../view/">속초8경</a></li>
							<li class="item-4"><a href="../waycome/">오시는 길</a></li>
							<li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
							<li class="item-6"><a href="../board/">공지사항</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="contents">
		
			<section class="wrap subVisual">
				<div class="mainTxt container">
					<p class="p-1">발길마다 새롭게 만나는 그곳의 매력</p>
					<h2>나를 감동시키는 <span class="f-bd">속초8경</span></h2>
					<p class="p-2"><span class="f-bdr">SOKCHO</span> BEACH</p>
				</div>
			</section>
			<section class="wrap cmStyle view">
				<div class="container">
					<h2 class="tit">
						<span class="sokcho thColor"><span class="f-bd">SOKCHO</span> BEACH</span>
						<span class="big">속초에서 만나는 <span class="f-bd thColor">여덟가지 스페셜 !</span></span>
					</h2>
					<p class="p-1">
						속초의 범바위, 속초등대전망대, 청초호, 조도, 청대산, 대포항, 학무정, 설악해맞이공원의 멋진 풍경과 함께하세요.<br>
						다양하고 아름다운 진풍경에 감탄이 절로 나옵니다.
					</p>
					<div class="view-map">
						<img src="../../img/view/map.jpg" alt="속초8경 지도">
					</div>
					<p class="p-1">
						속초 8경 이외에도 먹거리, 볼거리 가득한 관광명소 속초에서 즐거운 시간을 모두 드립니다.<br>
						더욱 다양한 주변 관광지는 관광정보 메뉴를 확인해 주세요.
					</p>
					<div class="area">
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_01.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">I</span> 속초등대전망대</h4>
									</dt>
									<dd>
										영금정 속초등대전망대로 많이 알려져<br>
										있는 곳으로 전망대에서 바라보는 바다와<br>
										설악산의 풍경이 절경이다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_02.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">II</span> 범바위</h4>
									</dt>
									<dd>
										영랑호 중간지점 서남쪽에 잠겨있는 큰 <br>
										바위로서 위엄이 당당하며 마치 범<br>
										형상으로 생겼다고 하여 범바위로 불리운다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_03.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">III</span> 청대산</h4>
									</dt>
									<dd>
										정상에서 보는 속초시가지와 동해일출뿐만<br> 
										아니라 대청봉, 달마봉, 울산바위 등 설악을 <br>
										가까이에서 조망할 수 있는 천연전망대이다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_04.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">IV</span> 청초호 호수공원</h4>
									</dt>
									<dd>
										호수 위에 지어진 청초정은 시원한 동해<br>
										바다와 설악산을 감상할 수 있는 명소로,<br>
										해상공원에는 청룡과 황룡 조형물이 있다.
									</dd>
								</dl>
							</li>
						</ol>
						<ol class="list cf">
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_05.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">V</span> 조도</h4>
									</dt>
									<dd>
										새들이 많이 찾는 섬이라하여 붙여진 <br>
										조도와 백사장이 어우러져 주변 경관의 <br>
										조화로움을 더해주고 일출의 아름다움이 전해진다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_06.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VI</span> 대포 외옹치</h4>
									</dt>
									<dd>
										설악산 기슭의 청정 바닷가에 자리잡은 <br>
										대포는 광어, 넙치, 방어 등의 집산지로 <br>
										유명하며 파도의 경관이 아름다운 곳이다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_07.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VII</span> 설악 해맞이공원</h4>
									</dt>
									<dd>
										관광객의 손모양을 담아 도자기로 구워내 <br>
										해맞이광장 등 다양한 테마를 가진 <br>
										조각상과 설악산 조형물과 분수대가 조성되어 있다.
									</dd>
								</dl>
							</li>
							<li class="link-tour">
								<figure class="tour-img"><img src="../../img/view/view_08.png" alt="속초8경"></figure>
								<dl>
									<dt>
										<h4><span class="num">VIII</span> 학무정</h4>
									</dt>
									<dd>
										조선 말 매곡처사 오윤환 선생이 1934년에 <br>
										건립하였다. 정자모양이 육각으로 되어 <br>
										있어 흔히 육모정이라 부른다
									</dd>
								</dl>
							</li>
						</ol>
					</div>
				</div>
			</section>
			
		</div>		
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="../../img/common/logo.png" alt="속초해수욕장로고"></figure>
				<address>
					아름다운 속초해변 !  영롱한 바다는 물론이며 주변의 관광지인 설악산, 척산온천, 청초호, 영랑호와 더불어 <br>
					속초시에 유일한 해수욕장으로 전국적인 사랑을 한 몸에 받고 있습니다.<br>
					<p class="p-2">
						본 사이트는 속초해수욕장을 사랑하는 주민자치회가 자체 운영합니다.<br>
						대한민국 강원도 속초시 조양동 속초해수욕장
					</p>
					<small>copyright @ sokchobeach.co.kr All right reserved</small>
				</address>
			</div>
		</footer>
		
	</div>	
		
</body>
</html>