<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>속초해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="../../static/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<!--css-->
<!--
	<link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/common.css">
	<link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/waycome/init.css">
-->
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/waycome/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<!--	<script src="http://static.sokchobeach.co.kr/js/waycome/init.js"></script>-->
	<script src="../../static/js/waycome/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
	
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap">
				<div class="area container">
					<h1 class="logo"><a href="../index.html"><img src="../../img/common/logo_2.png" alt="속초해수욕장 로고"> <span class="skip">속초해수욕장 속초비치</span></a></h1>
					<nav class="gnb">
						<ul class="menu cf">
							<li class="item-1"><a href="../about/">속초해변 소개</a></li>
							<li class="item-2"><a href="../tourist/">관광정보</a></li>
							<li class="item-3"><a href="../view/">속초8경</a></li>
							<li class="item-4"><a href="../waycome/">오시는 길</a></li>
							<li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
							<li class="item-6"><a href="../board/">공지사항</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="contents">
		
			<section class="wrap subVisual">
				<div class="mainTxt container">
					<p class="p-1">설레는 내 마음 속 바다</p>
					<h2><span class="f-bd">속초해변</span> 오시는 길</h2>
					<p class="p-2"><span class="f-bdr">SOKCHO</span> BEACH</p>
				</div>
			</section>
			<section class="wrap cmStyle waycome">
				<div class="container">
					<div class="area cf">
						<div class="way-info">
							<p class="p-1">자가 차량 이용시</p>
							<dl>
								<dt class="skip"></dt>
								<dd>
									<p class="dot">차량 네비게이션에서 <span class="c-blue f-bd">속초해변</span>을 입력</p>
									<p class="dot"><span class="c-blue f-bd">속초시 조양동 속초해수욕장</span> 주소를 입력</p>
								</dd>
							</dl>
							<p class="p-1">대중교통 이용시</p>
							<dl>
								<dt>양양공항 이용시</dt>
								<dd>
									<p class="dot">
										공항에서 하왕도리 남양6번 버스 승차 후 새마을 정류장 하차,<br>
										남양(6)(하왕도리) 승차 후, 남문2리 정류장에서 하차<br>
										속초(9)(남문2리) 승차 후, 새마을 정류장에서 하차<br>
										속초해수욕장까지 약 700미터 도보 이동
									</p>
								</dd>
							</dl>
							<dl>
								<dt>속초시외버스터미널 하차시 </dt>
								<dd>
									<p class="dot">
										속초시외버스터미널에서 정류장에서 7-1번, 9-1번, 9번 버스 탑승 후<br>
										고속버스터미널 하차, 동지고으로 440미터 도보 이동
									</p>
								</dd>
							</dl>
							<dl>
								<dt>속초고속버스터미널 하차시</dt>
								<dd><p class="dot">속초 고속버스터미널 하차 후 동쪽으로 440미터 도보 이동</p></dd>
							</dl>
							<p class="row-btn">
								<a href=""><img src="http://img.sampobeach.co.kr/waycome/btn_n.png" alt="네이버지도보기"></a><a href=""><img src="http://img.sampobeach.co.kr/waycome/btn_d.png" alt="다음지도보기"></a>
							</p>
						</div>
						<div class="way-map">
							<a href="http://map.daum.net/?urlX=851339&urlY=1305803&itemId=22099937"><img src="../../img/waycome/map.jpg" alt="속초해수욕장지도"></a>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="../../img/common/logo.png" alt="속초해수욕장로고"></figure>
				<address>
					아름다운 속초해변 !  영롱한 바다는 물론이며 주변의 관광지인 설악산, 척산온천, 청초호, 영랑호와 더불어 <br>
					속초시에 유일한 해수욕장으로 전국적인 사랑을 한 몸에 받고 있습니다.<br>
					<p class="p-2">
						본 사이트는 속초해수욕장을 사랑하는 주민자치회가 자체 운영합니다.<br>
						대한민국 강원도 속초시 조양동 속초해수욕장
					</p>
					<small>copyright @ sokchobeach.co.kr All right reserved</small>
				</address>
			</div>
		</footer>
		
	</div>	
		
</body>
</html>