<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>삼포해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
	
	<!--css-->
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/board/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="http://static.sampobeach.co.kr/js/board/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap container">
				<h1 class="logo"><a href=""><img src="http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장 로고"> <span class="skip">삼포해수욕장 삼포비치</span></a></h1>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="contents">
		
			<section class="wrap subVisual">
				<div class="mainTxt container">
					<p class="p-1">닿는 발길마다 매력 넘치는 고성</p>
					<h2><span class="f-bd">삼포해변</span> 공지사항</h2>
					<p class="p-2"><span class="f-bdr">SAMPO</span> BEACH</p>
				</div>
			</section>
			<section class="wrap cmStyle board">
				<div class="container">
					<div class="area">
						<table class="tbStyle tb-list">
							<colgroup>
								<col class="nth-1">
								<col class="nth-2">
								<col class="nth-3">
							</colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>8</td>
									<td>삼포비치 홈페이지가 그랜드 오픈되었습니다.</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>7</td>
									<td>반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 삼포비치 홈페이지</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>6</td>
									<td>삼포비치 홈페이지가 그랜드 오픈되었습니다.</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>5</td>
									<td>반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 삼포비치 홈페이지</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>4</td>
									<td>삼포비치 홈페이지가 그랜드 오픈되었습니다.</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>3</td>
									<td>반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 삼포비치 홈페이지</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>2</td>
									<td>삼포비치 홈페이지가 그랜드 오픈되었습니다.</td>
									<td>2018.07.03</td>
								</tr>
								<tr>
									<td>1</td>
									<td>반짝이는 백사장 위로 쏟아지는 별빛을 볼 수 있는 삼포비치 홈페이지</td>
									<td>2018.07.03</td>
								</tr>
							</tbody>
						</table>
						<div class="pagenation" id="pagenation">
							<a class="prev" href="">&lt;</a>
							<a class="on" href="">1</a>
							<a href="">2</a>
							<a href="">3</a>
							<a class="next" href="">&gt;</a>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장로고"></figure>
				<address>
					본 사이트는 삼포해변을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
					오시는 길 : 강원도 고성군 죽왕면 삼포해변길 (죽왕면) / 삼포리 1-1번지 삼포해변<br>
					<small>copyright @ sampobeach.co.kr All right reserved</small>
				</address>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</footer>
		
	</div>	
		
</body>
</html>