<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>삼포해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
	
	<!--css-->
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/board/init.css">
<!--
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/board/init.css">
-->
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="http://static.sampobeach.co.kr/js/board/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<div class="wrapper">
		
		<header class="header">
			<div class="wrap container">
				<h1 class="logo"><a href=""><img src="http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장 로고"> <span class="skip">삼포해수욕장 삼포비치</span></a></h1>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">추억게시판</a></li>
						<li class="item-6"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="contents">
			<section class="wrap subVisual board-memory">
				<div class="mainTxt container">
					<p class="p-1">행복했던 어제, 즐거웠던 기억을 남겨보세요</p>
					<h2><span class="f-bd">삼포해변</span> 추억게시판</h2>
					<p class="p-2"><span class="f-bdr">SAMPO</span> BEACH</p>
				</div>
			</section>
			<section class="wrap cmStyle board board-memory">
				<div class="container">
					<h2 class="tit">
						<span class="sampo"><span class="f-bd">SAMPO</span> BEACH</span>
						<span class="f-bd">추억게시판 글쓰기</span>
					</h2>
					<div class="area area-1">
						<table class="tbStyle tb-write">
							<colgroup>
								<col class="nth-1">
								<col class="nth-2">
							</colgroup>
							<tbody>
								<tr>
									<th>작성자명</th>
									<td><input type="text" class="appe-reset w-1"></td>
								</tr>
								<tr>
									<th>패스워드</th>
									<td><input type="text" class="appe-reset w-1"></td>
								</tr>
								<tr>
									<th>제목</th>
									<td><input type="text" class="w-full"></td>
								</tr>
								<tr>
									<th>내용</th>
									<td>
										<textarea name="" id="" cols="30" rows="10">오션투유콘도에 다녀왔습니다 
주말에 만만하게 가기에는 강원도 아무래도 좋은 듯 싶어서 찾아보다가 숙소 괜찮은 곳 중 오션투유콘도가 눈에 띄더라구요
일단 고코투어라는 어플 이용해서 할인된 가격으로 저렴하게 다녀왔는데 방도 깔끔하고 시설도 아주 좋았습니다
특히 바베큐장 있어서 좋더라구요

조식은 먹을까 말까 고민을 많이 했는데 또 아침에 굳이 밖으로 어디 찾으러 나가기가 좀 귀찮기도 해서 오션투유콘도 내에 있는 조식을 먹었습니다 생각보다 음식도 많고 음식 맛도 굉장히 좋더라구요? 저희는 일찍 가서 먹었는데 조금 시간 지나니 사람들 많이 들어오더라구요 
										</textarea>
									</td>
								</tr>
								<tr class="tr-file">
									<th>이미지</th>
									<td>
										<div class="row">
											<form action="">
												<div class="filebox">
													<input type="file" id="filename" class="upload-hidden">
													<input class="upload-name w-2" value="" disabled="disabled">
													<label class="br4" for="filename">파일선택</label>
													<input type="reset" value="삭제하기" class="appe-reset inp-reset">
												</div>
											</form>
										</div>
										<div class="row">
											<form action="">
												<div class="filebox">
													<input type="file" id="filename2" class="upload-hidden">
													<input class="upload-name w-2" value="" disabled="disabled">
													<label class="br4" for="filename2">파일선택</label>
													<input type="reset" value="삭제하기" class="appe-reset inp-reset">
												</div>
											</form>
										</div>
										<script>
											$(function() {
												//파일박스 꾸미기
												var fileTarget = $('.filebox .upload-hidden');
												fileTarget.on('change', function() { // 값이 변경되면 
													if (window.FileReader) { // modern browser 
														var filename = $(this)[0].files[0].name;
													} else { // old IE 
														var filename = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출 
													}
													// 추출한 파일명 삽입 
													$(this).siblings('.upload-name').val(filename);
													$(this).siblings('.upload-name').css("color", "#666");
													if ( $(this).siblings('.upload-name').val != '' ) {
														$(this).siblings('.inp-reset').show();
													}
												});
												$(".inp-reset").on( 'click', function() {
													$(this).hide();
												});
											});
										</script>
									</td>
								</tr>
								<tr class="tr-secure">
									<th>확인입력</th>
									<td>
										<img src="http://img.sampobeach.co.kr/board/secNum.jpg" alt="보안숫자">
										<input type="text" class="w-1">
										<span class="s-1">※ 왼쪽의 글자를 동일하게 입력하세요.</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row-cause">※ 미풍양속을 해치거나 주제에 벗어난 글이 등록되는 경우 사전통보없이 삭제되며 필요시 고발조치되오니 유의하여 주십시오.</div>
						<div class="row-btn cf">
							<button type="button" class="appe-reset btn-list">목록</button>
							<button type="button" class="appe-reset btn-enroll">등록하기</button>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<footer class="footer">
			<div class="wrap container">
				<figure class="logo"><img src="http://img.sampobeach.co.kr/common/logo.png" alt="삼포해수욕장로고"></figure>
				<address>
					본 사이트는 삼포해변을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
					오시는 길 : 강원도 고성군 죽왕면 삼포해변길 (죽왕면) / 삼포리 1-1번지 삼포해변<br>
					<small>copyright @ sampobeach.co.kr All right reserved</small>
				</address>
				<nav class="gnb">
					<ul class="menu cf">
						<li class="item-1"><a href="">삼포해변 소개</a></li>
						<li class="item-2"><a href="">축제 이벤트</a></li>
						<li class="item-3"><a href="">오시는 길</a></li>
						<li class="item-4"><a href="">주변관광</a></li>
						<li class="item-5"><a href="">추억게시판</a></li>
						<li class="item-6"><a href="">공지사항</a></li>
					</ul>
				</nav>
			</div>
		</footer>
		
	</div>	
		
</body>
</html>